* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

#Home {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px #000;;
}

.icon {
    font-size: xx-large;
    color: #fff;
}
